p {
	font-size: 1rem;
	color: white;
}
img {
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: 0 1%;
}
h1 {
	color: white;
	font-size: 2rem;
}
li {
	color: white;
}
.emptyBar{
	background-color: black;
	position: fixed;
	bottom: 0;
}
.bottom_bar_allIMG{
	max-height: 5vh;
	max-width: 100vw;
}
.emptyBar_search{
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 1rem;
	max-height: 5vh;
	max-width: 100vw;
}
.above_bar{
	max-height: 98vh;
	display: flex;
	flex-direction: row;
}
.searchClick{
	background-color: black;
	position: fixed;
	bottom: 5vh;
	max-height: 30vh;
	max-width: 30vw;
}
.searchClick_text{
	font-size: 1rem;
	color: white;
}
.aboutMe{
	display: flex;
	flex-direction: column;
	background: white;
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        padding: 10px;
	background-color: black;
}
.aboutMe_header{
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_Hui{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_nav{
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_Hui_li{
	list-style-type: none;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}
.aboutMe_buttons{
	font-size: 1rem;
	border-radius: 50px;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_tab1d{
	display: flex;
	flex-direction: row;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}
.aboutMe_tab1s2{
	display: flex;
	flex-direction: row;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_tab1s1{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_tab2d{
	display: flex;
	flex-direction: row;
}
.aboutMe_tab2s1{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}
.aboutMe_tab2s2{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}
.aboutMe_tab2s3{
	display: flex;
	flex-direction: column;
	max-width: 70%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}
.aboutMe_tab3s1{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}
.aboutMe_tab2LinkList{
	display: flex;
	/*grid-template-columns: repeat(2, 1fr);*/
	height: 10%;
}
.webV{
	max-height: 100%;
	height: 90%;
	max-width: 100%;
	width: auto;
}
